.category__brands {
  max-width: 200px;
  max-height: 200px;
}

.brands__img {
  width: 100%;
}

.barnds__name {
  display: block;
  color: white;
  letter-spacing: 1px;
  background-color: rgb(37, 37, 37);
  width: 100%;
  padding: 5px 0;
  text-align: center;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.slick-prev,
.slick-next {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: red;
}

.slick-prev:hover,
.slick-next:hover {
  color: green;
  background: green !important;
}